* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: font-family: 'Montserrat', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(53, 53, 191, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

h1 {
    font-family: font-family: 'Poppins', sans-serif;
    ;
}

a {
    text-decoration: none;
}

.registerform {
    width: 500px;
    margin: 50px auto;
    padding: 80px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius: 25px;
}

.avater {
    width: 100%;
    text-align: center;
}

.avater img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 0px 0px 20px;
}

.registerform h1 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    line-height: 46px;
    margin: 0px 0px 20px;
}

.form_group {
    width: 100%;
    display: block;
    margin: 0px 0px 15px;
}

.form_group label {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: white;
}

.form_control {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    border: none;
}

.btn1 {
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgb(60, 255, 0);
    border: none;
    cursor: pointer;
    transition: 1s;
    border-radius: 35px;
}

.btn1:hover {
    color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
}